.btn {
  display: inline-block;
  padding: 12px 20px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 8px;

  padding: 100px;
  border: none;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.2s ease;
  width: 100%;
  margin-bottom: 1rem;
}
.btn-primary {
  background-color: #093d44; 
  color: #ffffff;
  margin-left: 20px;
  border: none;
  padding: 12px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
}

.btn-primary:hover {
  background-color: #f1a84d;
}

.btn-secondary {
  background-color: #f1a84d;
  margin-left: 20px;
  border: none;
  padding: 12px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;}

.btn-secondary:hover {
  background-color: #093d44;
}

.cancel {
  margin-left: 20px;
  background-color: #e05d5d;
  border: none;
  padding: 12px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
}
                 
             