.fitness-card {
  background-color: #f1f9fb;
  border: 1px solid #e5e7eb;
  border-radius: 0.75rem;
  padding: 6px;
  margin-top: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.fitness-card h3 {
  margin-top: 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #093d44;
}

.fitness-row {
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  color: #374151;
  margin-bottom: 0px;
  margin-right: 50px;

}

.fitness-row:last-child {
  margin-bottom: 0;
}

.icon {
  font-size: 1.25rem;
  margin-right: 0.5rem;
}

.last-sync {
  margin-top: 10px;
  font-size: 8px;
  color: #093d44
}